 <launch>

    <arg name="HAND" default="left"/>
    <arg name="NUM" default="0"/>
    <arg name="CONTROLLER" default="sim" />
    <arg name="BIOTAC" default="false" />
    <arg name="URDF" default="$(find allegro_manager)/models/urdf/allegro_left.urdf" unless="$(arg BIOTAC)"/>
    <arg name="URDF" default="$(find allegro_manager)/models/urdf/allegro_left_biotac.urdf" if="$(arg BIOTAC)"/>
    <arg name="ZEROS" default="$(find allegro_hand_parameters)/zero.yaml" />

    <arg name="AUTO_CAN" default="true" />  <!--If true, ignores CAN_DEVICE. -->
    <arg name="CAN_DEVICE" default="/dev/pcanusb1" />
    <arg name="JSP_GUI" default="false" />
    <arg name="KEYBOARD" default="false" />
    <arg name="GAZEBO" default="false" />  <!-- use at your own risk -->
    <arg name="POLLING" default="true"/>
    <arg name="RESPAWN" default="false"/>
    <arg name="PARAMS_DIR" default="$(find allegro_hand_parameters)" />

    <arg name="OBJECT" default="box"/>
    

    <group>
        <param name="robot_description" command="cat $(find allegro_hand_description)/allegro_hand_description_$(arg HAND)_melodic.urdf" />
        <node name="allegroHand_$(arg HAND)_$(arg NUM)"
                pkg="allegro_hand_controllers"
                type="allegro_node_$(arg CONTROLLER)"
                output="screen"
                clear_params="true"
                respawn="$(arg RESPAWN)"
                respawn_delay="2"
                args="$(arg POLLING)" >

            
            <remap from="allegroHand/joint_states" to="allegroHand_$(arg NUM)/joint_states"/>
            <remap from="allegroHand/joint_cmd" to="allegroHand_$(arg NUM)/joint_cmd"/>
            <remap from="allegroHand/lib_cmd" to="allegroHand_$(arg NUM)/lib_cmd"/>
            <remap from="allegroHand/torque_cmd" to="allegroHand_$(arg NUM)/torque_cmd"/>
            <remap from="allegroHand/envelop_torque" to="allegroHand_$(arg NUM)/envelop_torque"/>
            <remap from="allegroHand/joint_current_states" to="allegroHand_$(arg NUM)/joint_current_states"/>
            <remap from="allegroHand/joint_desired_states" to="allegroHand_$(arg NUM)/joint_desired_states"/>
            
            <rosparam file="$(arg ZEROS)" command="load" />

            <rosparam file="$(arg PARAMS_DIR)/gains_pd.yaml" command="load" />
            <rosparam file="$(arg PARAMS_DIR)/gains_velSat.yaml" command="load" />
            <rosparam file="$(arg PARAMS_DIR)/initial_position.yaml" command="load" />

            <param name="/comm/CAN_CH" value="$(arg CAN_DEVICE)"
                unless="$(arg AUTO_CAN)" />
            <param name="/comm/CAN_CH"
                command="$(find allegro_hand_description)/scripts/detect_pcan.py"
                if="$(arg AUTO_CAN)" />

            <param name="/hand_info/which_hand" value="$(arg HAND)" />
        </node>

        <node name="joint_states_$(arg NUM)" pkg="joint_state_publisher" type="joint_state_publisher"
                if="$(arg JSP_GUI)">
            <remap from="joint_states" to="allegroHand_$(arg NUM)/joint_cmd"/>
            <param name="use_gui" value="true"/>
        </node>

        <node name="jointState2tf_$(arg NUM)"
                pkg="robot_state_publisher"
                output="screen"
                type="robot_state_publisher">
            <remap from="joint_states" to="allegroHand_$(arg NUM)/joint_states"/>
        </node>

        <node name="hand_ft_controller" pkg="allegro_manager" type="hand_ft_controller" output="screen" args="$(arg URDF)">
            <remap from="allegroHand_0/joint_states" to="allegroHand_$(arg NUM)/joint_states"/>
            <remap from="allegroHand_0/joint_cmd" to="allegroHand_$(arg NUM)/joint_cmd"/>
            <remap from="allegroHand_0/torque_cmd" to="allegroHand_$(arg NUM)/torque_cmd"/>
            <remap from="allegroHand_0/desiredJointState" to="allegroHand_$(arg NUM)/desiredJointState"/>

            <remap from="allegroHand_0/ft_pose_cmd" to="allegroHand_$(arg NUM)/ft_pose_cmd"/>
            <remap from="allegroHand_0/ft_torque_cmd" to="allegroHand_$(arg NUM)/ft_torque_cmd"/>
            <remap from="allegroHand_0/ft_pos" to="allegroHand_$(arg NUM)/ft_pos"/>
            <remap from="allegroHand_0/Gravity_direction" to="allegroHand_$(arg NUM)/Gravity_direction"/>
            <remap from="allegroHand_0/Bendingness" to="allegroHand_$(arg NUM)/Bendingness"/>
            <remap from="allegroHand_0/SpeedGains" to="allegroHand_$(arg NUM)/SpeedGains"/>
            
        </node>

        <node name="hand_torque_sim" pkg="allegro_manager" type="hand_torque_sim" output="screen" args="$(arg URDF)">
            <remap from="allegroHand_0/joint_states" to="allegroHand_$(arg NUM)/joint_states"/>
            <remap from="allegroHand_0/joint_cmd" to="allegroHand_$(arg NUM)/joint_cmd"/>
            <remap from="allegroHand_0/torque_cmd" to="allegroHand_$(arg NUM)/torque_cmd"/>
        </node>
    </group>

    <group ns="lwr">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find fingers_controller)/models/robots/single_lwr_robot.urdf.xacro'"/> 
        <node name="lwr_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    </group>

    <!-- GAZEBO -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param /lwr/robot_description -urdf -model single_lwr_robot" respawn="false" output="screen" />
    <!-- enable/disable gui at will, the rviz listens to the simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find fingers_controller)/worlds/simple_environment.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>


    <!-- load robotHW configurations to rosparam server -->
    <rosparam command="load" file="$(find fingers_controller)/config/robots/kuka_lwr/hw_interface.yaml"/>

    <!-- load all controller configurations to rosparam server -->
    <rosparam command="load" file="$(find fingers_controller)/config/robots/kuka_lwr/controllers.yaml"/>

    <!-- real robot and controllers -->
    <group ns="lwr">
        <!-- spawn only desired controllers in current namespace -->
        <node name="controller_spawner_js" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="kuka_joint_state_controller"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_controllers"/>
    </group>

     <group ns="object">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find fingers_controller)/models/objects/$(arg OBJECT).urdf.xacro'"/> 
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="object_state_publisher" output="screen"/>
        <node name="joint_states" pkg="joint_state_publisher" type="joint_state_publisher"/>
        
    </group>
    
    <!-- <node pkg="tf" type="static_transform_publisher" name="allegro_object_broadcaster" args="0 0 0 0 0 0 1 hand_root obj_base 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="kuka_allegro_broadcaster" args="0 0 0 0 0 0 1 lwr_7_link hand_root 100" />
    <node pkg="tf" type="static_transform_publisher" name="kuka_object_broadcaster" args="0.6 0 0.3 0 0 0 1 world obj_base 100" />


    <group>
        <node name="rviz_$(arg NUM)" pkg="rviz" type="rviz" args="-d '$(find fingers_controller)/config/rviz/kuka_allegro_object.rviz'">
        <!-- '$(find lwr_simple_example)/launch/rviz/rviz_config.rviz'" > -->
        <!-- args="-d $(find fingers_controller)/config/rviz/allegro_object.rviz" > -->
        </node>
    </group>


 </launch>